<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="graduationwork.buskingtown">

    <!-- 라이브러리 사용을 위한 인터넷 퍼미션 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".ApplicationController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SignUp1Step" />
        <activity android:name=".SignUp2Step" />
        <activity android:name=".TabBar" />
        <activity android:name=".BuskerCertification" />
        <!-- 코인 보내기전 팝업창 -->
        <activity
            android:name=".CoinSendBefore_pop"
            android:theme="@android:style/Theme.Dialog" />
        <activity android:name=".WaitPass" />
        <activity android:name=".FailPass"></activity>
    </application>

</manifest>