<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="graduationwork.buskingtown">

    <!-- 라이브러리 사용을 위한 인터넷 퍼미션 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--위치정보활용시 추가--><uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!--위치정보활용시 추가--><uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!--WIFI 상태활용시 추가--><uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!--WIFI 상태활용시 추가--><uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>

    <application
        android:name=".ApplicationController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SignUp1Step" />
        <activity android:name=".SignUp2Step" />
        <activity android:name=".TabBar" />
        <activity android:name=".BuskerCertification" />
        <!-- 코인 보내기전 팝업창 -->
        <activity
            android:name=".CoinSendBefore_pop"
            android:theme="@android:style/Theme.Dialog" />
        <activity android:name=".WaitPass" />
        <activity android:name=".FailPass" />
        <activity android:name=".ChannelBusker" />
        <activity android:name=".ChannelUser" />
        <!-- 코인 보내기 성공했을때 팝업창 -->
        <activity
            android:name=".CoinSendSuccess_pop"
            android:theme="@android:style/Theme.Dialog" />
        <!-- 코인 보내기 실패했을때 팝업창 -->
        <activity
            android:name=".CoinSendFail_pop"
            android:theme="@android:style/Theme.Dialog" />
        <activity android:name=".Setting" />
        <activity android:name=".CoinCharge" />
        <activity android:name=".VersionInformation" />
        <activity android:name=".PasswdChange" />
        <activity android:name=".WritePost" />
        <activity android:name=".OpenConcert" />
        <activity android:name=".LikeBusker" />
        <activity android:name=".ClientCenter" />
        <activity android:name=".ClientCenterCounsel" />
        <activity android:name=".ClientCenterCounselDetail" />
        <activity android:name=".ClientCenterConditions" />
        <activity android:name=".Notice" />
        <activity android:name=".NoticeDetail" />
        <activity android:name=".ClientCenterLocationBased" />
        <activity android:name=".ClientCenterPersonalInformation" />
        <activity android:name=".MycoinHouse" />
        <activity android:name=".SettingNotice" />
        <activity android:name=".ClientCenterOpenSource" />
        <activity android:name=".ProfileEdit" />
        <activity android:name=".LocationLend" />
        <activity android:name=".UserProfileEdit" />
        <activity android:name=".BuskingOpen" />
        <activity android:name=".LocationSearch" />
        <activity android:name=".BuskingOpen_map" />
        <activity android:name=".LocationLendStart" />
        <activity android:name=".ChannelManagementSetting" />
    </application>

</manifest>